@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  .divider-solid {
    border-width: 1px;
    border-color: theme('colors.slate.200');
    margin-top: theme('spacing.8');
    margin-bottom: theme('spacing.8');
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
main {
  min-height: 100vh;
}

.smooth-transition {
  transition: font-size 0.3s ease-in-out;
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(75ch, calc(100% - 32px))
    1fr;
  grid-row-gap: 1rem;
}

.wrapper > .full-bleed {
  width: 100%;
  grid-column: 1/4;
}

.wrapper > * {
  grid-column: 2;
}
